@font-face {
    font-family: 'SF Pro Display';
    src: url('sf-pro-display-cufonfonts.woff2') format('woff2'),
         url('sf-pro-display-cufonfonts.woff') format('woff');
  }

  /* The selectors are arranged from generic to specific */

  * /* targets all elements on the web page */
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF Pro Display, sans-serif;
    font-size: 16px;
  }

  section { /* for index.html */
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex block;
    justify-content: space-between;
    align-items: center;
    background: white;
  }

  sectionA { /* for restaurantList.html */
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex block;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background: white;
  }

  header { /* navbar */
    position: absolute;
    top: -25px;
    left: 0; 
    width: 100%;
    padding: 37px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header ul {
    position: relative;
    display: flex;
  }

  header .pfp {
    position: relative;
    max-width: 50px;
    top: 10px;
  }

  header ul li{
    list-style: none;
  }

  header ul li a {
    display: inline-block;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 16px;
    margin-left: 32px;
    text-decoration: none;
  }

  .title-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%; 
  }

  .main-title{
    font-size: 40px;
    font-weight: 500;
  }

  .last-word {
    color: #007ED9;
    font-size: 40px;
    font-weight: 500;
  }

  .secondary-title{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  .sub-title {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
  }

  .paragraph-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .hero-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 60px;
  }

  .hero-images img  {
    margin-right: 30px; /* spacing between the images */
  }

  .les{
    width: 200px;
    height: auto;
  }

  .met{
    width: 240px;
    height: auto;
  }

  .skyline{
    width: 280px;
    height: auto;
  }

  .wildfires{
    width: 320px;
    height: auto;
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 30%;
    padding-bottom: 20px;
  }

  .footer-name{
    margin-left: 100px; 
  }

  table{
    border: 1px solid;
    border-color: #aaaaaa;
    width: 75%;
    border-collapse: collapse;
  }

  table th, table td {
    padding: 8px;
    height: 70px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  table th {
    background-color: #007ED9;
    color:#ffffff;
    font-size: 20px;
    font-weight: 400;
    font-family: Georgia, serif;
  }

  table tr:nth-child(odd) {
    background-color: #d9effe;
  }

  form{
    max-width: 400px;
    margin: 0px;
    padding: 20px;
    background-color: #edf8ff;
    border-radius: 10px;
  }

  label{
    display: flex;
    margin-bottom: 5px;
    font-weight: normal;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  button[type="Submit"] {
    background-color: #007ED9;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }